.header {
    padding: 40px;
    z-index: 4;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;

    &__logo img{
        width: 150px;
    }
    &__userIcon img{
        width: 50px;
    }
}
